<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <button class="button button-up" [routerLink]="['/repository', repositoryId, 'version']"><i class="fa fa-level-up" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="drop-area col-md-5 offset-4">
          <div class="drop-container text-center align-middle" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
            <h1>Drop file here</h1>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="files">
        <div class="col-md-2 col-sm-4 repository-container" *ngFor="let file of files">
          <img class="card-img-top folder-img" [src]="fileImg" alt="File">
          <div class="card-body">
            <h4>{{file.name}}</h4>
            <div class="card-description">
              <p>Created: {{file.creationDateTime | date: 'yyyy-MM-dd HH:mm'}}</p>
            </div>
            <button class="button" disabled>Download</button>
            <button (click)="deleteFile(file.id)" class="button">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
